{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="flex-grow flex items-center justify-center p-4">
    <div class="text-center">
        <p class="text-lg sm:text-xl md:text-2xl font-tagline mb-8 text-custom-black">Snacks that don’t sleep 🍪</p>

        <div class="w-full max-w-2xl mx-auto h-48 sm:h-64 md:h-80 bg-gradient-to-br from-custom-medium-olive to-custom-dark-olive rounded-lg shadow-xl flex items-center justify-center p-4 mb-10">
            <p class="text-custom-white text-lg font-semibold">Serving the CVR bois :D</p>
        </div>

        <a href="{{ url_for('login') }}" class="inline-block bg-custom-accent text-black font-bold py-3 px-8 rounded-lg shadow-md hover:bg-green-600 transition duration-300 text-lg">
            Start Ordering
        </a>
    </div>
</div>
{% endblock %}